html
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js" charset="utf-8")
	link(href='/stylesheets/style.css', rel='stylesheet')
	script(src="/javascript/jquery.mapael.min.js" charset="utf-8")
	script(src="/javascript/maps/world_countries.js" charset="utf-8")
	script(src="/javascript/map.js" charset="utf-8")

	body
		.container
			.map
				span Alternative content for the map
			.custom-legend
				table(style="width:100%")
					tr
						td
							.pos
							| POSITIVE
					tr
						td
							.neg
							| NEGATIVE
					tr
						td
							.neu
							| NEUTRAL